/* Genel Ayarlar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 2em;
}

/* Ana butonlar */
.home-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option:first-child {
  background-color: #4caf50;
  color: white;
}

.option:last-child {
  background-color: #f44336;
  color: white;
}

.option:hover {
  opacity: 0.8;
}

